<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  .hide{
      display: none;
  }
  </style>
</head>
<body>

<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>           
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>IMG</th>
        <th>Status</th>
        <th>Cho phep???</th>
      </tr>
    </thead>
    <tbody>
    <%listSP.forEach(function show(sp) {%>
      <tr id="tablerow<%=sp.id%>">
        <td><%=sp.ten%></td>
        <td><%=sp.img%></td>
        <td><%=sp.status%></td>
        <td><button type="buton" class="btn btn-success" onclick="ok('<%=sp.id%>')">Success</button> - <button type="button" class="btn btn-danger" onclick="ok('<%=sp.id%>')">Danger</button></td>
      </tr>
    <%})%>
    </tbody>
  </table>
</div>
</body>
<script>

function ok(id){
    console.log("da vafo")
      var element = document.getElementById("tablerow" + id);
      element.classList.add("hide");
      save.save.push(id);
      console.log(save.save)
}
</script>
</html>
